@charset "utf-8";

* {
    margin: 0%;
}

header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 81%);
    height: 150px;
    max-width: 100%;
    padding: 0 4%;
}

li {
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    display: inline;
    padding-left: 10%;
}

ul {
    padding: 4%;
}
